@model HardwareShop.Models.ApplicationUser
@{
    ViewBag.Title = "Cont";
}
<style>
    .partener {
        width: 50%;
        text-decoration: none;
        color: white;
        font-weight: 600;
        background: #71c16a;
        background-size: 20px;
        padding: 8px 25px;
        padding-left: 35px;
        transition: background-color 0.5s;
        font-size: 18px;
    }
        .partener:hover {
            color: white;
            background-color: orangered;
        }
</style>
<h1>Nume:@Model.Nume @Model.Prenume</h1>
<a class="partener" href="@Url.Action("Index","Cerere",new {tipCerere = "Furnizor nou"})">Devino partener</a>

