@model object
@if (Model is HardwareShop.Models.Carcasa carcasa)
{
    var deschidere = @carcasa.DeschidereLaterala == true ? "DA" : "NU";
    <ul>
        <li>Format:@carcasa.Format</li>
        <li>Numar ventilatoare:@carcasa.NrVentilatoare</li>
        <li>Deschidere laterala:@deschidere</li>
    </ul>
}
@if (Model is HardwareShop.Models.PastaCPU pasta)
{
    <ul>
        <li>Conductivitate termica:@pasta.ConductivitateTermica</li>
        <li>Rezistenta termica:@pasta.RezistentaTermica</li>
        <li>Cantitate:@pasta.Cantitate g</li>
    </ul>
}
@if (Model is HardwareShop.Models.Motherboard placaDeBaza)
{
    <ul>
        <li>Socket:@placaDeBaza.Socket</li>
        <li>Chipset:@placaDeBaza.Chipset</li>
        <li>Sloturi RAM:@placaDeBaza.NrSloturiRAM</li>
    </ul>
}
@if (Model is HardwareShop.Models.GPU placaVideo)
{
    <ul>
        <li>Capacitate memorie:@placaVideo.CapacitateMemorie</li>
        <li>Frecventa memorie:@placaVideo.FrecventaMemorie</li>
        <li>Rezolutie maxima:@placaVideo.RezolutieMaxima</li>
    </ul>
}
@if (Model is HardwareShop.Models.PlacutaRAM placutaRAM)
{
    <ul>
        <li>Tip placuta:@placutaRAM.Tip</li>
        <li>Capacitate:@placutaRAM.Capacitate</li>
        <li>Frecventa:@placutaRAM.Frecventa</li>
    </ul>
}
@if (Model is HardwareShop.Models.CPU procesor)
{
    <ul>
        <li>Ferecventa de baza:@procesor.FrecventaBaza</li>
        <li>Frecventa turbo:@procesor.FrecventaTurbo</li>
        <li>Nuclee:@procesor.NrNuclee</li>
    </ul>
}
@if (Model is HardwareShop.Models.PSU sursa)
{
    <ul>
        <li>Putere:@sursa.Putere</li>
        <li>Numar ventilatoare:@sursa.NrVentilatoare</li>
        <li>Alimentare:@sursa.Alimentare</li>
    </ul>
}
@if (Model is HardwareShop.Models.UnitatiDeStocare stocare)
{
    <ul>
        <li>Form factor:@stocare.FormFactor</li>
        <li>Capacitate:@stocare.Capacitate</li>
        <li>Tip memorie:@stocare.TipMemorie</li>
    </ul>
}