@model object
@if (Model is HardwareShop.Models.Carcasa carcasa)
{
    <ul>
        <li>Format:@carcasa.Format</li>
        <li>Numar ventilatoare:@carcasa.NrVentilatoare</li>
        <li>
            Deschidere laterala:@if (carcasa.DeschidereLaterala == false)
            {
                <span>NU</span> }
            else
            {
                <span>DA</span>}
        </li>
        <li>Tip carcasa:@carcasa.TipCarcasa</li>
    </ul>
    <ul>
        <li>Numar locase sloturi extensii:@carcasa.NrLocaseSloturiExtensii</li>
        <li>Dimensiune:@carcasa.Dimensiune</li>
        <li>Greutate:@carcasa.Greutate kg</li>
        <li>Culoare:@carcasa.Culoare</li>
    </ul>
}
@if (Model is HardwareShop.Models.PastaCPU pasta)
{
    <ul>
        <li>Conductivitate termica:@pasta.ConductivitateTermica</li>
        <li>Rezistenta termica:@pasta.RezistentaTermica</li>
        <li>Cantitate:@pasta.Cantitate</li>
    </ul>
}
@if (Model is HardwareShop.Models.Motherboard placaDeBaza)
{
    <ul>
        <li>Socket:@placaDeBaza.Socket</li>
        <li>Chipset:@placaDeBaza.Chipset</li>
        <li>Sloturi RAM:@placaDeBaza.NrSloturiRAM</li>
        <li>Tip RAM:@placaDeBaza.TipRAM</li>
        <li>Sloturi PCIe:@placaDeBaza.SloturiPCIe</li>
    </ul>
    <ul>
        <li>Conectori SATA:@placaDeBaza.ConectoriSATA</li>
        <li>Conectori M2:@placaDeBaza.ConectoriM2</li>
        <li>Tip port USB:@placaDeBaza.TipPortUSB</li>
        <li>Numar porturi USB:@placaDeBaza.NrPorturiUSB</li>
        <li>Form factor:@placaDeBaza.FormFactor</li>
    </ul>
}
@if (Model is HardwareShop.Models.GPU placaVideo)
{
    <ul>
        <li>Capacitate memorie:@placaVideo.CapacitateMemorie</li>
        <li>Frecventa memorie:@placaVideo.FrecventaMemorie</li>
    </ul>
    <ul>
        <li>Rezolutie maxima:@placaVideo.RezolutieMaxima</li>
        <li>Sistem racire:@placaVideo.SistemRacire</li>
    </ul>
}
@if (Model is HardwareShop.Models.PlacutaRAM placutaRAM)
{
    <ul>
        <li>Tip:@placutaRAM.Tip</li>
        <li>Capacitate:@placutaRAM.Capacitate</li>
    </ul>
    <ul>
        <li>Frecventa:@placutaRAM.Frecventa</li>
        <li>Module:@placutaRAM.Module</li>
    </ul>
}
@if (Model is HardwareShop.Models.CPU procesor)
{
    <ul>
        <li>Ferecventa de baza:@procesor.FrecventaBaza</li>
        <li>Frecventa turbo:@procesor.FrecventaTurbo</li>
        <li>Nuclee:@procesor.NrNuclee</li>
    </ul>
    <ul>
        <li>Thread-uri:@procesor.NrThreads</li>
        <li>Putere termica:@procesor.PutereTermica</li>
        <li>Socket:@procesor.Socket</li>
    </ul>
}

@if (Model is HardwareShop.Models.PSU sursa)
{
    <ul>
        <li>Putere:@sursa.Putere</li>
        <li>Numar ventilatoare:@sursa.NrVentilatoare</li>
        <li>Alimentare:@sursa.Alimentare</li>
    </ul>
    <ul>
        <li>Format:@sursa.Format</li>
        <li>Greutate:@sursa.Greutate Kg</li>
    </ul>
}
@if (Model is HardwareShop.Models.UnitatiDeStocare stocare)
{
    <ul>
        <li>Form factor:@stocare.FormFactor</li>
        <li>Capacitate:@stocare.Capacitate</li>
        <li>Tip memorie:@stocare.TipMemorie</li>
        <li>Rata de transfer la citire:@stocare.RataTransferCitire</li>
        <li>Rata de transfer la scriere:@stocare.RataTransferScriere</li>
    </ul>
    <ul>
        <li>Dimensiuni:@stocare.Dimensiune</li>
        <li>Greutate:@stocare.Greutate</li>
        <li>Line-up:@stocare.LineUp</li>
        <li>Tip controller:@stocare.TipController</li>
        <li>Interfata:@stocare.Interfata</li>
    </ul>
}
