@model List<HardwareShop.Models.Cerere>
<style>
    .cereri{
        display:flex;
        flex-direction:row;
        justify-content:space-around;
    }
    .raspunsCerere {
        display: block;
        width: 40%;
        text-align: center;
        font-weight: 600;
        transition: background-color 0.5s;
        padding: 5px 8px;
        font-size: 14px;
        border: 2px solid #1c7dc8;
        color: white;
        border-radius: 10px;
        margin: 0 auto;
        text-decoration:none;
    }


        .raspunsCerere:hover {
            color: white;
            background-color: #1c7dc8;
        }

    .cerere {
        margin-left: 10px;
        height: auto;
        width: 25%;
        padding: 20px 0;
        background-color: #07243e;
        border-radius: 5px;
    }

    .lista ,h3{
        width: 80%;
        margin:10px auto;
    }
    .raspuns{
        display:flex;
        justify-content:space-between;
        width:80%;
        margin:0 auto;
    }
    .cerere h2{
        text-align:center;
    }
    body {
        background-color: #061a2c;
        color: #f5f5f5;
    }
</style>
<h1>Cereri furnizori noi</h1>
<div class="cereri">
    @foreach (var cerere in Model)
    {
        <div class="cerere">

            <h2>@cerere.Utilizator.Nume @cerere.Utilizator.Prenume</h2>
            <h3>Detalii:</h3>
            <ul class="lista">
                    <li>Oras:@cerere.Oras</li>
                    <li>Brand:@cerere.Brand</li>
                    <li>CUI:@cerere.CUI</li>       
            </ul>
            <div class="raspuns">
                <a class="raspunsCerere" href=@Url.Action("Raspuns","Cerere",new {cerereId = cerere.Id,cerereAcceptata = false,userId = cerere.UtilizatorId})>
                    Respinge
                </a>
                <a class="raspunsCerere" href=@Url.Action("Raspuns","Cerere",new {cerereId = cerere.Id,cerereAcceptata = true,userId = cerere.UtilizatorId})>
                    Accepta
                </a>
            </div>
        </div>
    }
</div>
