main {
    width: 85%;
    max-height: 90vh;
    padding: 20px;
    margin: 0;
    position: absolute;
    top: 54%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #07243e;
    color:white;
}

.fields {
    width: 100%;
    display: grid;
    row-gap:10px;
    grid-template-columns: auto auto auto auto;
    justify-content:space-evenly;
}
select{
    border:2px solid black;
}

label {
    width: 100%;
    text-align: center;
}

.button{
    width:100%;
    margin:0 auto;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.rowSubmit {
    margin: 20px auto;
    width: 50%;
    text-align: center;
}

.checkbox:hover {
    cursor: pointer;
}

#title {
    margin: 0 auto;
    margin-bottom:20px;
    width: auto;
    text-align: center;
}
.input{
    width:100%;
}

.col-md-2 {
    width: auto;
}
.subtitlu {
    margin-left: 100px;
    margin-top:50px;
}
    .subtitlu span {
        display: inline-block;
        border: 1px solid black;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        text-align: center;
        padding-bottom: 20px;
        margin-right: 20px;
        position: relative;
        top: 2px;
        background-color: #1c7dc8;
    }
.adaugaProdusCos {
    display: block;
    width: 30%;
    text-align: center;
    font-weight: 600;
    transition: background-color 0.5s;
    padding: 5px 8px;
    font-size: 14px;
    border: 2px solid #1c7dc8;
    color: #1c7dc8;
    border-radius: 10px;
    margin: 0 auto;
    color:white;
}
    .adaugaProdusCos:hover {
        color: white;
        background-color: #1c7dc8;
    }

body {
    background-color: #061a2c;
}