.facturare, .livrare, .plata, .line-livrare, .line-plata {
    background-color: #1c7dc8;
}

    .facturare h1, .livrare h1,.plata h1 {
        color: white;
    }

.line-livrare,.line-plata {
    border: 2px solid #6DD6FA;
}


